<div class="col-lg-6 col-md-6 col-sm-12">

    <div class="card">
        <div class="card-header bg-dark text-light">Please use the below form to register a new Employee</div>
        <div class="card-body">
            <form (ngSubmit)="addEmployee(form)" #form="ngForm" autocomplete="off">
                <div class="form-group">
                    <label for="firstName" class="control-label">First Name</label>
                    <input type="text" class="form-control"
                        [class.is-invalid]="refFirstName.touched && refFirstName.invalid" id="firstName" maxlength="100"
                        required name="firstName" #refFirstName="ngModel" (ngModel)="firstName" autocomplete="off">

                    <div *ngIf="refFirstName.touched && refFirstName.invalid" class="invalid-feedback">First Name is
                        required</div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="control-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" maxlength="100" required name="lastName"
                        [class.is-invalid]="refLastName.touched && refLastName.invalid" #refLastName="ngModel"
                        (ngModel)="lastName" autocomplete="off">

                    <div *ngIf="refLastName.touched && refLastName.invalid" class="invalid-feedback">Last Name is
                        required</div>
                </div>
                <div class="form-group">
                    <label for="designation" class="control-label">Designation</label>
                    <input type="text" class="form-control" id="designation" maxlength="100" required name="designation"
                        [class.is-invalid]="refDesignation.touched && refDesignation.invalid" #refDesignation="ngModel"
                        (ngModel)="designation" autocomplete="off">

                    <div *ngIf="refDesignation.touched && refDesignation.invalid" class="invalid-feedback">Designation
                        is
                        required</div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
                <button type="reset" class="btn btn-secondary ml-1">Reset</button>
            </form>

            <br>
            <div class="text-success" *ngIf="isRegistered"> <i>Employee Registered successfully!</i></div>
        </div>
    </div>
</div>